<h4>Máquinas de aprendizaje</h4>
<p-listbox 
    [options]="maquinas" 
    [(ngModel)]="selectedMaquinas" 
    [multiple]="true" 
    [checkbox]="true" 
    [filter]="true" 
    optionLabel="name" 
    [style]="{'width':'15rem'}">
</p-listbox>

<h4>Ensambles</h4>
<p-listbox 
    [options]="ensambles" 
    [(ngModel)]="selectedEnsamble" 
    [checkbox]="true" 
    [filter]="true" 
    optionLabel="name" 
    [style]="{'width':'15rem'}">
</p-listbox>

<h4>Preprocesamiento</h4>
<p-listbox 
    [options]="preprocesamiento" 
    [(ngModel)]="selectedPreproc" 
    [checkbox]="true" 
    [filter]="true" 
    optionLabel="name" 
    [style]="{'width':'15rem'}">
</p-listbox>
<button class="p-button" type="button" (click)="getGenerarDataset()">GO!</button>

<h4>Unidades Dimensionales</h4>
<p-inputNumber [(ngModel)]="unidadesDimensionales"></p-inputNumber>

<h4>Dropout</h4>
<p-inputNumber [(ngModel)]="dropout"></p-inputNumber>

<h4>Funcion de Activacion</h4>
<p-listbox 
    [options]="funcionDeAct" 
    [(ngModel)]="selectedFuncionDeAct" 
    [checkbox]="true" 
    [filter]="true" 
    optionLabel="name" 
    [style]="{'width':'15rem'}">
</p-listbox>

<h4>Epochs</h4>
<p-inputNumber [(ngModel)]="epochs"></p-inputNumber>

<button class="p-button" type="button" (click)="getCargaTweets()">GO!</button>